body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    padding: 0;
  }
  
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: center;
  }
  
  li {
    font-size: 1.5rem;
    color:lightslategrey;
    margin-bottom: .5rem;
    border: 1px solid lightslategrey;
    padding: 10px;
    width: 250px;
    border-radius: 10px;
    background-color: #0f0f0f;
  }
  
  .add-habit {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
  }
  
  .add-habit input {
    margin-top: 7.5px;
    padding: 0.5rem;
    font-size: 1rem;
    background-color: #0f0f0f;
    color: lightslategrey;
    border: 1px solid lightslategrey;
    border-radius: 10px;
    text-align: center;
  }
  
  .add-habit-button {
    margin-top: 7.5px;
    margin-left: .5rem;
    padding: 0.5rem;
    font-size: 1rem;
    cursor: pointer;
    background-color: #0f0f0f;
    color: lightslategrey;
    border: 1px solid lightslategrey;
    border-radius: 10px;
  }

  .add-habit-button:hover {
    background-color: #303030;
    color: ghostwhite;
  }

  .remove-habits-button{
    margin-top: 7.5px;
    padding: 0.5rem;
    font-size: 1rem;
    cursor: pointer;
    background-color: #0f0f0f;
    color: lightslategrey;
    border: 1px solid lightslategrey;
    border-radius: 10px;
  } 

  .remove-habits-button:hover{
    background-color: #303030;
    color: ghostwhite;
  }

  .completed {
    background-color: #365e3a;
    color: black;
  }

  #habit-list-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 2rem;
  }